{% extends "layout.html" %}

{% block title %}Welcome To Super Markets!{% endblock %}

{% block head %}
<!--Here Goes all that has to be in head!-->
{% endblock %}

{% block content %}
<div class="content column-one">
    <h1>Colossal Markets</h1>
    <p>Colossal Markets is not even a startup and not even a company, this is dumy site to where a stock purchase orders can be submitted. Site is running on test equipment in test environment. Please, use site with care!</p>
    This is some other text

</div>

<div class="content column-two">
    <h2>Support information</h2>
    <p>Please contact dummy_colossalmarkets@hotmail.com to renew or do something with your password</p>
</div>
{% endblock %}