{% extends "layout.html" %}

{% block title %}Error{% endblock %}

{% block head %}
<!--Here Goes all that has to be in head!-->
{% endblock %}

{% block content %}
<div class="content column-one">
<h1>Something went terribly wrong!</h1>
<p>Is your Password and username ok? Please, check!</p>
<a href="/fillorder">Try Again!</a>
<p>There seems to be something off with your password!!!!!</p>
</div>
<div class="content column-two">
    <h2>If this persists, please, contact systems administrator!</h2>
    <p>Yes, yes, yes, try again</p>
    <p>There is something with the password, definitely!<p>
</div>
{% endblock %}